---
http_interactions:
- request:
    method: get
    uri: https://www.urhouse.com.tw/tw/rentals/ajax?direction=ASC&filter=JTdCJTIydHlwZSUyMiUzQSUyMnJlc2lkZW50aWFsJTIyJTJDJTIyY2l0eSUyMiUzQSUyMiVFNSU4RiVCMCVFNSU4QyU5NyVFNSVCOCU4MiUyMiUyQyUyMmRpc3QlMjIlM0ElNUIlMjIlRTQlQjglQUQlRTYlQUQlQTMlRTUlOEQlODAlMjIlMkMlMjIlRTQlQjglQUQlRTUlQjElQjElRTUlOEQlODAlMjIlMkMlMjIlRTUlOEMlOTclRTYlOEElOTUlRTUlOEQlODAlMjIlMkMlMjIlRTglOTAlQUMlRTglOEYlQUYlRTUlOEQlODAlMjIlMkMlMjIlRTUlQTQlQTclRTUlOTAlOEMlRTUlOEQlODAlMjIlMkMlMjIlRTUlODUlQTclRTYlQjklOTYlRTUlOEQlODAlMjIlMkMlMjIlRTYlOUQlQkUlRTUlQjElQjElRTUlOEQlODAlMjIlMkMlMjIlRTUlQTQlQTclRTUlQUUlODklRTUlOEQlODAlMjIlMkMlMjIlRTQlQkYlQTElRTclQkUlQTklRTUlOEQlODAlMjIlMkMlMjIlRTUlQTMlQUIlRTYlOUUlOTclRTUlOEQlODAlMjIlMkMlMjIlRTUlOEQlOTclRTYlQjglQUYlRTUlOEQlODAlMjIlMkMlMjIlRTYlOTYlODclRTUlQjElQjElRTUlOEQlODAlMjIlNUQlMkMlMjJyZW50JTIyJTNBJTdCJTIybWluJTIyJTNBJTIyMzAwMDAlMjIlMkMlMjJtYXglMjIlM0ElMjIxMDAwMDAlMjIlN0QlMkMlMjJkb2NfZmxvb3Jfc2l6ZSUyMiUzQSU3QiUyMm1pbiUyMiUzQSUyMiUyMiUyQyUyMm1heCUyMiUzQSUyMiUyMiU3RCUyQyUyMnJlc2lkZW50aWFsJTIyJTNBJTdCJTIydG90YWxfcm9vbSUyMiUzQSU3QiUyMm1pbiUyMiUzQSUyMiUyMiUyQyUyMm1heCUyMiUzQSUyMiUyMiU3RCU3RCU3RA&mode=list&ordering=price&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","code":200,"data":{"items":[{"id":"17683","address_id":"0","title":"MRT\u4e2d\u5c71\u570b\u5c0f\/\u8fd1\u82b1\u535a\/\u6a5f\u80fd\u4f73","no":"R031792","assigned":"0","specific":"0","operator":"117","city":"\u53f0\u5317\u5e02","dist":"\u4e2d\u5c71\u5340","road":"\u8fb2\u5b89\u8857","lane":"","alley":"","add_no":null,"no_of":null,"floor":"4","floor_of":null,"full_address":null,"lat":"25.0647344","lng":"121.5249001","search_index":"[\u53f0\u5317\u5e02\u4e2d\u5c71\u5340\u8fb2\u5b89\u885720\u865f4\u6a13\u4e4b10]\n[]\n[]\n[0966323858]\n[+]","sublease":"","merge":"[]","building_id":"613","owner_name":"\u5ed6\u5c0f\u59d0","proxy_name":"","phone":"","mobile":"0966323858","other_contact":"","sub_operator":"0","pass_id":"","type":"residential","sort":"residential","elevator":"1","intermediary_name":"","intermediary_phone":"","intermediary_rel":"","height":"11","completed_date":"2004-11-17","floor_size":"7.700000","doc_floor_size":"11.280000","has_parking":"0","building_use_permit":"\u8a73\u5982\u4f7f\u7167\u767b\u8a18","total_room":"1","livingroom":"1","bathroom":"1","balcony":"0","terrace":"0","maid_room":"0","is_intermediate":"1","maisonette_rental_right":"0","is_open":"0","rent":"30000","rent_taxed":"individual_no_tax","hoa_fee":"1566.00","has_mrt":"1","mrt_line":"\u4e2d\u548c\u8606\u6d32\u7dda","closest_mrt":"\u4e2d\u5c71\u570b\u5c0f","parking_type":"","parking_quantity":"","parking_floor":"","parking_number":"","parking_rent":"","can_clear_furniture":"0","hoa":"24h","hoa_time":"-","cheque":"0","service_fee":"general","signing_date":"other","start_date":"2022-10-09
        00:00:00","rent_range":"year","orientation":"south_north","garbage":"included","floor_households":"18","elevator_quantity":"2","visiting_appointment":"appointment","furnishing":"1","appliance":"1","provided_furniture":"null","open_kitchen":"0","apartment_hotel":"0","bathtub":"1","decoration":"regular","is_pettable":"discussion","public_amenity":"","internal_note":"","personal_note":"","floor_height":"","real_floor_height":"","zoning":"\u8a73\u5982\u4f7f\u7167\u767b\u8a18","no_commercial":"","facade_width":"","road_width":"","feature":"[\"\\u73fe\\u6709\\u79df\\u5ba210\\\/10\\u9000\\u79df\"]","youtube":"","object_from":"","advertise":"","deposit":"2months","canvas":"no","last_hand":"","internet":"1","state":"published","unpublished_type":"","unpublished_reason":"","publish_up":"2022-06-02
        10:59:05","publish_down":"1000-01-01 00:00:00","return_publish":"1000-01-01
        00:00:00","created":"2022-06-02 10:59:04","created_by":"117","modified":"2022-06-06
        08:16:12","modified_by":"117","hits":"0","missing_parts":"[]","round":"1","params":"","building_name":"\u5927\u6f22\u96d9\u57ce","building_main_construction":"\u5927\u6f22\u5efa\u8a2d","building_sub_construction":"","building_image":"","building_type":"\u5957\u623f\u3001\u4f4f\u5b85\u3001\u5546\u8fa6\u3001\u5e97\u9762","building_structure":"RC","building_completion_date":"1000-01-01
        00:00:00","building_engineering_company":"\u9032\u714c\u71df\u9020","building_zoning":"\u55464\u7279","building_city":"\u53f0\u5317\u5e02","building_dist":"\u4e2d\u5c71\u5340","building_road":"\u8fb2\u5b89\u8857","building_lane":"","building_alley":"","building_add_no":"20","building_no_of":"","building_floor":"1","building_floor_of":"","building_full_address":"\u53f0\u5317\u5e02\u4e2d\u5c71\u5340\u8fb2\u5b89\u885720\u865f1\u6a13","building_overground":"11","building_underground":"","building_building_no":"","building_building_quantity":"0","building_total_households":"209","building_doorplate":"","building_designer":"\u91d1\u4ee5\u5bb9","building_floor_households":"0","building_elevator":"1","building_pet":"","building_min_ping":"0","building_max_ping":"0","building_min_rooms":"0","building_max_rooms":"0","building_guard":"\u5f85\u78ba\u8a8d","building_note":"\u5f85\u78ba\u8a8d","building_feature":"[]","building_celebrity":"","building_different":"[]","building_state":"1","building_created":"2022-05-27
        09:25:51","building_created_by":"111","building_modified":"2022-05-27 09:27:23","building_modified_by":"111","building_params":"","user_id":"117","user_employee_id":"A0095","user_store_id":"4","user_name":"\u7fdf\u5fd7\u6850","user_first_name":"JC","user_last_name":"CHAI","user_username":"A0095","user_phone":"0937871537","user_line_account":"https:\/\/line.me\/ti\/p\/QUCdVJqqPi","user_email":"chaijrtong@gmail.com","user_password":"$2y$10$YGKEwaG2bqp9ph7dWtqBAOs5oHV2gQ2HFhSIvU2LTAZlaqd\/wkRKa","user_avatar":"","user_group":"sales","user_type":"residential","user_blocked":"0","user_status":"servicing","user_receive_mail":"0","user_activation":"","user_reset_token":"","user_last_reset":"1000-01-01
        00:00:00","user_last_login":"2022-07-07 08:42:37","user_registered":"2022-03-15
        08:58:04","user_modified":"2022-03-15 09:04:08","user_params":"","image_id":"260952","image_target_id":"17683","image_type":"rental_image","image_url":"https:\/\/urhouse.s3.amazonaws.com\/images\/rentals\/0847428640312d7e5f0804dcb8b2cd01.jpg?31363534313638333336","image_thumb_url":"","image_watermarked":"https:\/\/urhouse.s3.amazonaws.com\/images\/rentals\/0847428640312d7e5f0804dcb8b2cd01-watermarked.jpg","image_title":"","image_alt":"\u623f\u5c4b\u5c01\u9762","image_tag":"cover","image_state":"1","image_ordering":"0","image_params":"","link":"https:\/\/www.urhouse.com.tw\/tw\/rental\/17683","favorited":0,"road_address":"\u53f0\u5317\u5e02\u4e2d\u5c71\u5340\u8fb2\u5b89\u8857","rooms_text":"1\u623f1\u5ef31\u885b","mrt_colors":[{"color":"#f8b61c","code":"O"}]},{"id":"17693","address_id":"5028","title":"\u5929\u6bcd\u53e4\u9053\u65c1\u666f\u8272\u5b9c\u4eba","no":"R031802","assigned":"1","specific":"0","operator":"55","city":"\u53f0\u5317\u5e02","dist":"\u58eb\u6797\u5340","road":"\u4e2d\u5c71\u5317\u8def\u4e03\u6bb5","lane":"232","alley":"0","add_no":null,"no_of":null,"floor":"8","floor_of":null,"full_address":null,"lat":"25.1273491","lng":"121.5336095","search_index":"[\u53f0\u5317\u5e02\u58eb\u6797\u5340\u4e2d\u5c71\u5317\u8d[...]
[...]
